body {
	margin: 0;
}
label {
	font-weight: bold;
}
.foot{
	background-color: #81c784 !important;
}
.btn-color {
	background-color: #81c784 !important;
}

#giraffe-landscape > img{
 	width: 100%;
 	margin-bottom: -4px;
}

.container {
 	margin-left: auto;
 	margin-right: auto;
 	float: none;
 	text-align: center;
}

/**************************/
/******** Sidemenu ********/
/**************************/
#toggle-sidemenu {
	position: fixed;
	top: 0px;
	left: 15px;
	z-index: 2;
	-webkit-transition: all 0.45s ease-in-out 0;
  	-moz-transition: all 0.45s ease-in-out 0;
  	transition: all 0.45s ease-in-out 0;
}

.sidemenu {
	position: fixed;
	top: 0px;
	left: -250px;
	bottom: 0px;
	z-index: 1;
	width: 250px;
	padding: 0px;
	-webkit-transition: all 0.4s ease-out 0;
  	-moz-transition: all 0.4s ease-out 0;
  	transition: all 0.4s ease-out 0;
}
.sidemenu > ul > a {
	margin-bottom: -5px;
}
.sidemenu > ul > a > li {
	position: relative;
	top: 0px;
	left: 0px;
	width: 250px;
	padding: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 20px;
}
#brand {
	position: relative;
	top: -15px;
	left: 0px;
	width: 250px;

	font-size: 24px;
	padding: 20px;
	padding-left: 10px;
	margin-bottom: -5px;
}

.sidemenu-open .sidemenu{
	left: 0px;
	-webkit-transition: all 0.4s ease-out 0;
  	-moz-transition: all 0.4s ease-out 0;
  	transition: all 0.4s ease-out 0;
}
.sidemenu-open #toggle-sidemenu {
	left: 260px;
	-webkit-transition: all 0.3s ease-in-out 0;
  	-moz-transition: all 0.3s ease-in-out 0;
  	transition: all 0.3s ease-in-out 0;
}

/**************************/
/****** Registration_mat ******/
/**************************/
#regis {
	position: relative;
	top: -30px;
}
.regis-buttons {
	margin-top: 15px;
}


/**************************/
/****** Registration ******/
/**************************/
.registration {
	padding: 10px;
	width: 30%;
	margin: auto;
	border: 1px solid black;
	float: none;
	text-align: left;
 }
 .registration > form {
 	padding-left: 25px;
 	padding-right: 25px;
 }
 .registration > form > .form-buttons {
 	text-align: center;
 	margin: auto;
 	padding: 15px;
 	letter-spacing: 10px;
 }
 .registration > form > .form-buttons > button{
 	background-color:#44c767;
	border-radius:6px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "Ubuntu", sans-serf;
	font-size:12px;
	padding:10px 30px;
	box-shadow: 1px 1px 0px 1px #3dc21b;
	text-shadow:0px 0px 0px #2f6627;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-box-shadow: 1px 1px 0px 1px #3dc21b;
	-webkit-box-shadow: 1px 1px 0px 1px #3dc21b;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.inlinelabels {
	display: block;
}
.inlinelabelspace {
	display: inline-block;
	width: 560%;
}

/**************************/
/********* Login **********/
/**************************/

.login {
	padding: 10px;
	width: 30%;
	margin: auto;
	border: 1px solid black;
	float: none;
	text-align: left;
 }
.login > form {
	text-align: center;
 }
 .login > form > .inlinelabels {
 	margin-left: -100px;
 }
 .login > form > .form-buttons {
 	text-align: center;
 	margin: auto;
 	padding: auto;
 	letter-spacing: 10px;
 }
.login > form > .form-buttons > button{
	background-color:#44c767;
	border-radius:6px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "Ubuntu", sans-serf;
	font-size:12px;
	padding:10px 30px;
	box-shadow: 1px 1px 0px 1px #3dc21b;
	text-shadow:0px 0px 0px #2f6627;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-box-shadow: 1px 1px 0px 1px #3dc21b;
	-webkit-box-shadow: 1px 1px 0px
}

/**************************/
/******** Contact *********/
/**************************/
#about-us {
	position: relative;
	top: -30px;
}
.devs-titlebar {
	position: relative;
	top: -30px;
	left: -20px;
	width: 250px;
	height: 55px;
	padding: 0px;
	margin: 0px;
}
.devs{
	max-width: 250px;
	margin: auto;
}
.devs-img {
	position: relative;
	top: 17px;
	width: 75px;
	height: 75px;
	border: 2px solid #eceff1;
}
.devs-text {
	position: relative;
	top: 27px;
	left: 10px;
}
.devs-title {
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 16px;
	font-weight: bold;
}
.devs-num {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 16px;
	font-weight: bold;
	z-index: 1;
}
.devs-top-card{
	height: 50px;
	z-index: 2;
}
.devs-bottom-card {
	position: relative;
	top: -20px;
	z-index: 1;
	height: 50px;
}
