.headerimg{
	width:100%;
	height:150px;
}

nav > a {
	display: inline-block;
}

.container {
	padding: 15px;
 	margin-left: auto;
 	margin-right: auto;
 	border: 1px solid black;
 	float: none;
 	text-align: center;
}

/**************************/
/****** Registration ******/
/**************************/
.registration {
	padding: 10px;
	width: 27%;
	margin: auto;
	border: 1px solid black;
	float: none;
	text-align: left;
 }

.inlinelabels {
	display: block;
}
.inlinelabelspace {
	display: inline-block;
	width: 560%;
}

/**************************/
/******** Contact *********/
/**************************/

.dev-container {
	float: none;
	text-align: center;
	width: 40%;
	margin: auto 20%;
	padding: 15px;
	display:inline-block;
}

.dev {
	width: 200px;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	display:inline-block;
	color: #ff9547;
	background: linear-gradient(#555, #444);
}
.dev > img {
	border-radius: 50%;
	border: 2px solid #ff9547;
}
.dev > p {
	margin: auto;
}

.center {
	text-align: center;
	border: 1px solid black;
	width: 25%;
	margin-left:37%;
}

/**************************/
/********* Misc. **********/
/**************************/

.heightspacer1{
	height: 1px;
}
.heightspacer10 {
	height: 10px;
}

.widthspacer10 {
	width: 10px;
}

