body {
	margin: 0;
}

.page-wrap {
	overflow-x: hidden;
	position: relative;
	left: 0px;
	background: #427;
}

.flair {
	height: 5px;
	background: -webkit-linear-gradient(left, red , blue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, red, blue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, red, blue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, red , blue); /* Standard syntax */
}

/**************************/
/******** Sidebar *********/
/**************************/
.sidebar {
	position: fixed;
	top: 0px;
	left: -220px;
	bottom: 0px;
	z-index: 0;

	width: 150px;
	padding: 30px;
	background: #333;
	-webkit-transition: all 0.4s ease-out 0;
  	-moz-transition: all 0.4s ease-out 0;
  	transition: all 0.4s ease-out 0;
}
.sidebar > ul {
	margin-top: -15px;
	list-style: none;
}
.sidebar > ul > a {
	text-decoration: none;
	font-style: none;
}
.sidebar > ul > a > li {
	margin-left: -50px;
	padding: 10px;
	color: rgba(255, 130, 100, 0.8);
	font-family: "Ubuntu", sans-serf;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
.sidebar > ul > a > li:hover {
	color: rgba(255, 130, 100, 1);
}


.toggle {
	font-size: 36px;
	position: fixed;
	top: 5px;
	left: 20px;
	z-index: 1;
	-webkit-transition: all 0.45s ease-in-out 0;
  	-moz-transition: all 0.45s ease-in-out 0;
  	transition: all 0.45s ease-in-out 0;
}
.sidebar-open .toggle {
	left: 220px;
	-webkit-transition: all 0.3s ease-in-out 0;
  	-moz-transition: all 0.3s ease-in-out 0;
  	transition: all 0.3s ease-in-out 0;
}

.sidebar-open .sidebar{
	left: 0px;
	-webkit-transition: all 0.4s ease-out 0;
  	-moz-transition: all 0.4s ease-out 0;
  	transition: all 0.4s ease-out 0;
}


.content {
    background-color: #fff;
    position: relative;
    z-index: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
}


.container {
 	margin-left: auto;
 	margin-right: auto;
 	float: none;
 	text-align: center;
}

/**************************/
/****** Registration ******/
/**************************/
.registration {
	padding: 10px;
	width: 27%;
	margin: auto;
	border: 1px solid black;
	float: none;
	text-align: left;
 }
 .registration > form {
 	padding-left: 50px
 }
 .registration > form > .form-buttons {
 	text-align: center;
 	margin-left: -50px;
 	padding: 15px;
 	letter-spacing: 10px;
 }
 .registration > form > .form-buttons > button{
 	background-color:#44c767;
	border-radius:6px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "Ubuntu", sans-serf;
	font-size:12px;
	padding:10px 30px;
	box-shadow: 1px 1px 0px 1px #3dc21b;
	text-shadow:0px 0px 0px #2f6627;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-box-shadow: 1px 1px 0px 1px #3dc21b;
	-webkit-box-shadow: 1px 1px 0px 1px #3dc21b;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

 }

.inlinelabels {
	display: block;
}
.inlinelabelspace {
	display: inline-block;
	width: 560%;
}

/**************************/
/******** Contact *********/
/**************************/

.dev-container {
	float: none;
	text-align: center;
	margin: auto;
	height: 300px;
	display:inline-block;
}
.dev-container > table {
	height: 100%;
}

.dev {
	width: 200px;
	height: 100%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	display:inline-block;
	color: #ff9547;
	background: linear-gradient(#555, #444);
}
.dev > img {
	border-radius: 50%;
	border: 2px solid #ff9547;
}
.dev > p {
	margin: auto;
}

.center {
	text-align: center;
	border: 1px solid black;
	width: 25%;
	margin-left:37%;
}

/**************************/
/********* Misc. **********/
/**************************/

.heightspacer1{
	height: 1px;
}
.heightspacer10 {
	height: 10px;
}

.widthspacer10 {
	width: 10px;
}

