body {
	margin: 0;
}
label {
	font-weight: bold;
}

.foot{
	background-color: #81c784 !important;
	position: relative;
	margin-top: -180px; /* negative value of footer height */
	height: 180px;
	clear:both;
}
.foot-copy {
	background-color: #66bb6a !important;
}
.btn-color {
	background-color: #81c784 !important;
}

#giraffe-landscape > img{
 	width: 100%;
 	margin-bottom: -4px;
}

.container {
 	margin-left: auto;
 	margin-right: auto;
 	float: none;
 	text-align: center;
 	height: 100%;
}

.highlight {
	background-color: #FFFF00;
}

.to-the-moon {
	position: fixed;
	right: 20px;
	bottom: 10px;
	display: none;
}

.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=url]:focus + label, .input-field input[type=date]:focus + label, .input-field input[type=tel]:focus + label, .input-field input[type=number]:focus + label, .input-field input[type=search]:focus + label, .input-field textarea:focus.materialize-textarea + label {
    	color: #66bb6a !important;
     }

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=date]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=search]:focus, textarea:focus.materialize-textarea {
  border-bottom: 1px solid #66bb6a !important;
  -webkit-box-shadow: 0 1px 0 0 #66bb6a !important;
  -moz-box-shadow: 0 1px 0 0 #66bb6a !important;
  box-shadow: 0 1px 0 0 #66bb6a !important; 
}

/**************************/
/******** Sidemenu ********/
/**************************/
#toggle-sidemenu {
	position: fixed;
	top: 0px;
	left: 15px;
	z-index: 5;
	-webkit-transition: all 0.45s ease-in-out 0;
  	-moz-transition: all 0.45s ease-in-out 0;
  	transition: all 0.45s ease-in-out 0;
}

.sidemenu {
	position: fixed;
	top: 0px;
	left: -250px;
	bottom: 0px;
	z-index: 1;
	width: 250px;
	padding: 0px;
	-webkit-transition: all 0.4s ease-out 0;
  	-moz-transition: all 0.4s ease-out 0;
  	transition: all 0.4s ease-out 0;
}
.sidemenu > ul > li {
	margin-bottom: 0px;
}
.sidemenu > ul > li > a {
	position: relative;
	top: 0px;
	left: 0px;
	width: 250px;
	padding: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 20px;
}
#brand {
	position: relative;
	top: -15px;
	left: 0px;
	width: 250px;

	font-size: 24px;
	padding: 20px;
	padding-left: 10px;
	margin-bottom: -5px;
}

.sidemenu-open .sidemenu{
	left: 0px;
	-webkit-transition: all 0.4s ease-out 0;
  	-moz-transition: all 0.4s ease-out 0;
  	transition: all 0.4s ease-out 0;
}
.sidemenu-open #toggle-sidemenu {
	left: 260px;
	-webkit-transition: all 0.3s ease-in-out 0;
  	-moz-transition: all 0.3s ease-in-out 0;
  	transition: all 0.3s ease-in-out 0;
}

/**************************/
/****** Registration ******/
/**************************/
.regis-buttons {
	margin-top: 15px;
}

.required {
	color: #e57373 !important;
}


/**************************/
/***** Profile Update *****/
/**************************/
.updateSlider {
	position: relative;
	left: -50px;
	display: none;
}
.slidedown {
	cursor: pointer;
}
.cEmail {
	position: relative;
	left: -25px;
}
.nameSlider {
	position: relative;
	left: -100px;
}


/**************************/
/******* Catalogue ********/
/**************************/

.goToCartPage {
	position: fixed;
	top: 25px;
	right: 15px;
	clear: both;
}

.catalogue-card {
	padding-bottom: 0px;
}
.catalogue-images {
	width: 100%; height: 100%;
}

.card-title-text {
	margin-top: -15px;
	margin-bottom: -15px;
	padding: 0px;
}
.card-content-box {
	position: relative;
	top: 10px;
	margin-bottom: 0px;
	padding: 0px;
}
.card-details {
	margin-bottom: -30px;
}
.prod-num {
	position: relative;
	top:-5px;
}
.add-btn {
	
}
.card-details-info {
	position: relative;
	top: 0px;
}
.card-details-text {
	position: relative;
	left: 30px;
}

[type="checkbox"]:checked + label:before {
	border-right: 2px solid #66bb6a;
	border-bottom: 2px solid #66bb6a;
}

.ribbon-wrap{
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-red {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  font-size: 12px;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #d50000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5252), to(#d50000)); 
  background-image: -webkit-linear-gradient(top, #ff5252, #d50000); 
  background-image:    -moz-linear-gradient(top, #ff5252, #d50000); 
  background-image:     -ms-linear-gradient(top, #ff5252, #d50000); 
  background-image:      -o-linear-gradient(top, #ff5252, #d50000); 
  color: #eee;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-red:before, .ribbon-red:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-red:before {
  left: 0;
}
.ribbon-red:after {
  right: 0;
}

/**************************/
/******** Sitemap *********/
/**************************/
.flow-text {
	padding-left: 20px;
}

/**************************/
/********* Login **********/
/**************************/

.login {
	padding: 10px;
	width: 30%;
	margin: auto;
	border: 1px solid black;
	float: none;
	text-align: left;
 }
.login > form {
	text-align: center;
 }
 .login > form > .inlinelabels {
 	margin-left: -100px;
 }
 .login > form > .form-buttons {
 	text-align: center;
 	margin: auto;
 	padding: auto;
 	letter-spacing: 10px;
 }

/**************************/
/******** Contact *********/
/**************************/
#about-us {
	position: relative;
	top: 0px;
}
.devs-titlebar {
	position: relative;
	top: -30px;
	left: -20px;
	width: 250px;
	height: 55px;
	padding: 0px;
	margin: 0px;
}
.devs{
	max-width: 250px;
	margin: auto;
}
.devs-img {
	position: relative;
	top: 17px;
	width: 75px;
	height: 75px;
	border: 2px solid #eceff1;
}
.devs-text {
	position: relative;
	top: 27px;
	left: 10px;
}
.devs-title {
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 16px;
	font-weight: bold;
}
.devs-num {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 16px;
	font-weight: bold;
	z-index: 1;
}
.devs-top-card{
	height: 50px;
	z-index: 2;
}
.devs-bottom-card {
	position: relative;
	top: -20px;
	z-index: 1;
	height: 50px;
}

/**************************/
/******** Reviews *********/
/**************************/
.slide-1 {
	position: relative;
	left: 45px;
}
.slide-shown {
	position: relative;
	top: -15px;
}

/**************************/
/****** All Reviews *******/
/**************************/
.allreviews-card {
	margin: 0px;
}
.review-title {
	font-size: 20px;
}

.centerstuff {
	text-align: center;
}
.subreviews {
	height: 300px;
	overflow-y: auto;
}
.subrating {
	position: relative;
	top: 10px;
}
.allreviews-userreviews {
	width: 99%;
}

/**************************/
/********* Misc ***********/
/**************************/
.addPadd-5 {
	padding: 15px;
}

.addMargin-side {
	margin-left: 14px;
	margin-right: 8px;
}